<div class="container">
    <div class="row">
<!-- Centered tabs -->

<style type="text/css">
  /* ============================================================
  SWITCH SHOW/HIDE checkboxS - YES NO
============================================================ */
.checkbox-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.checkbox-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input.checkbox-toggle-yes-no + label {
  padding: 2px;
  width: 100%;
  height: 40px;
}
input.checkbox-toggle-yes-no + label:before, input.checkbox-toggle-yes-no + label:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 15px !important;
  padding: 10px !important;
  text-align: center;
  line-height: 18px;
}
input.checkbox-toggle-yes-no + label:before {
  background-color: #cccccc !important;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.checkbox-toggle-yes-no + label:after {
  background-color: #8ce196;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.checkbox-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.checkbox-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

</style>

<div class="cd-tabs">
    <nav>
        <ul class="cd-tabs-navigation">
            <li><a data-content="users" class="selected" href="#0"><svg class="icon-contacts-2"><use xlink:href="/fonts/icons.svg#icon-contacts-2"></use></svg><span class="cd-tab-text">{{{__ "Users"}}}<span/></a></li>
            <li><a data-content="roles" href="#0"><svg class="icon-lock-5"><use xlink:href="/fonts/icons.svg#icon-lock-5"></use></svg><span class="cd-tab-text">{{{__ "Roles"}}}<span/></a></li>
        </ul> <!-- cd-tabs-navigation -->
    </nav>
    <ul class="cd-tabs-content">
        <li data-content="users" class="selected row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-mlg12 horizontaltab-form well">
        <form class="form-inline" id="user-form" method="POST" action="/create-user">
          <div class="col-xs-12 col-md-6 col-md-6 col-lg-3"> 
            <div class="form-group">
              <label class="sr-only" for="user-name">{{{__ "Name"}}}</label>
                  <input type="hidden" class="form-control" id="user-id" name="user_id">
                  <input type="text" class="form-control" id="user-name" name="user_name" placeholder="{{{__ 'Jane Doe'}}}">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-md-6 col-lg-3">    
          <div class="form-group">
            <label class="sr-only" for="user-email">{{{__ "Email"}}}</label>
                <input type="email" class="form-control" id="user-email" name="user_email" placeholder="{{{__ 'jane.doe@example.com'}}}">
         </div>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">   
         <div class="form-group">
            <label class="sr-only" for="user-role">{{{__ "Role"}}}</label>
                <select class="form-control" id="user-role" name="user_role">
                   {{#each roles}}
                      <option value="{{this.id}}">{{this.key.name}}</option>                      
                    {{/each}}
                </select>
        </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"> 
         <div class="form-group">
          <div class="switch">
            <input id="checkbox-toggle" name="user_accepted" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
            <label  id="togglecheckboxs" for="checkbox-toggle"  data-on="{{{__ 'Accepted'}}}" data-off="{{{__ 'Blocked'}}}"></label>
          </div>
         </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
                <button type="submit" id="btn-saveUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary">{{{__ "Save User"}}}</button>
            </div> 
          </div>
        </form>  
    </div>
           <br>
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12 table-hover table-striped">    
            <table width="100%" class="display table" id="users-management" class="" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{{__ "Name"}}}</th>
                        <th>{{{__ "Email"}}}</th>
                        <th>{{{__ "Role"}}}</th>
                        <th>{{{__ "Status"}}}</th>
                        <th>{{{__ "Mail"}}}</th>
                        <th>{{{__ "Modify"}}}</th>
                        <th>{{{__ "Trash"}}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>  



        </li>
        <li data-content="roles" class="row">
        <div class="col-md-12 horizontaltab-form well">
            <form class="form-inline" action="/create-role" method="POST">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="role-name">{{{__ "Rolename"}}}</label>
                    <input type="text" class="form-control" name="role_name" id="role-name" placeholder="{{{__ 'Rolename'}}}">
              </div>
              </div>

                  



                  





<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                <div class="switch">
                  <input name="role_read" id="role-read" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
                  <label  id="togglecheckboxs" for="role-read" data-on="{{{__ 'Can Read'}}}" data-off="{{{__ 'No Reading'}}}" ></label>
                </div>
              </div>
<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                <div class="switch">
                  <input name="role_write" id="role-write" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
                  <label  id="togglecheckboxs" for="role-write" data-on="{{{__ 'Can Write'}}}" data-off="{{{__ 'No Writing'}}}" ></label>
                </div>
              </div>
<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                <div class="switch">
                  <input name="role_edit" id="role-edit" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
                  <label  id="togglecheckboxs" for="role-edit" data-on="{{{__ 'Can Edit'}}}" data-off="{{{__ 'No Editing'}}}" ></label>
                </div>
              </div>
<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                <div class="switch">
                  <input name="role_publish" id="role-publish" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
                  <label  id="togglecheckboxs" for="role-publish" data-on="{{{__ 'Can Publish'}}}" data-off="{{{__ 'No Publishing'}}}" ></label>
                </div>
              </div>
<div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
                <div class="switch">
                  <input name="role_del" id="role-delete" class="checkbox-toggle checkbox-toggle-yes-no" type="checkbox">
                  <label  id="togglecheckboxs" for="role-delete" data-on="{{{__ 'Can Delete'}}}" data-off="{{{__ 'No Deleting'}}}" ></label>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <button type="submit" class="col-md-12 btn btn-primary">{{{__ "Save Role"}}}</button>
              </div>
                </div> 
            </form> 
        </div>
        <br>
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12 table-hover table-striped">    
            <table width="100%" class="display table" id="roles-management" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{{__ "Name"}}}</th>
                        <th>{{{__ "Read"}}}</th>
                        <th>{{{__ "Write"}}}</th>
                        <th>{{{__ "Edit"}}}</th>
                        <th>{{{__ "Delete"}}}</th>
                        <th>{{{__ "Publish"}}}</th>
                        <th>{{{__ "Modify"}}}</th>
                        <th>{{{__ "Trash"}}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>  
        </li>
    </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->


<!-- Modal -->
<div id="mailUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{{__ "Send Message"}}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <p>{{{__ "Write your email below, the mail wich is send will be optimized for spam filters"}}}</p>
        </div>
        <div class="row">
            <input type="text" class="form-control" placeholder="{{{__ 'Subject'}}}">
            <br>
        </div>
        <div class="row">
            <textarea id="userMailText"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{{__ "Reset"}}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{{__ "Send"}}}</button>
      </div>
    </div>

  </div>
</div>