<div class="container">
    <div class="row">
<!-- Centered tabs -->
<div class="cd-tabs">
    <nav>
        <ul class="cd-tabs-navigation">
            <li><a data-content="users" class="selected" href="#0"><svg class="icon-contacts-2"><use xlink:href="/fonts/icons.svg#icon-contacts-2"></use></svg><span class="cd-tab-text">{{{__ "Users"}}}<span/></a></li>
            <li><a data-content="roles" href="#0"><svg class="icon-lock-5"><use xlink:href="/fonts/icons.svg#icon-lock-5"></use></svg><span class="cd-tab-text">{{{__ "Roles"}}}<span/></a></li>
        </ul> <!-- cd-tabs-navigation -->
    </nav>
    <ul class="cd-tabs-content">
        <li data-content="users" class="selected row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-mlg12 horizontaltab-form well">
        <form class="form-inline" id="user-form" method="POST" action="/create-user">
          <div class="col-xs-12 col-md-6 col-md-6 col-lg-3"> 
            <div class="form-group">
              <label class="sr-only" for="user-name">{{{__ "Name"}}}</label>
                  <input type="hidden" class="form-control" id="user-id" name="user_id">
                  <input type="text" class="form-control" id="user-name" name="user_name" placeholder="{{{__ 'Jane Doe'}}}">
            </div>
          </div>
          <div class="col-xs-12 col-md-6 col-md-6 col-lg-3">    
          <div class="form-group">
            <label class="sr-only" for="user-email">{{{__ "Email"}}}</label>
                <input type="email" class="form-control" id="user-email" name="user_email" placeholder="{{{__ 'jane.doe@example.com'}}}">
         </div>
          </div>
          <div class="col-xs-8 col-sm-8 col-md-8 col-lg-2">   
         <div class="form-group">
            <label class="sr-only" for="user-role">{{{__ "Role"}}}</label>
                <select class="form-control" id="user-role" name="user_role">
                   {{#each roles}}
                      <option value="{{this.id}}">{{this.name}}</option>                      
                    {{/each}}
                </select>
        </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2"> 
         <div class="form-group">
                <input type="checkbox" data-size="mini" checked class="form-control" data-width="100%" data-height="38px" data-toggle="toggle" data-on="{{{__ 'Accepted'}}}" data-off="{{{__ 'Blocked'}}}" data-offstyle="danger" data-onstyle="success" id="user-accepted" name="user_accepted"/>   
         </div>
          </div>
          <div class="col-xs-4 col-sm-4 col-md-2 col-lg-2">
          <div class="form-group">
                <button type="submit" id="btn-saveUser" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 btn btn-primary">{{{__ "Save User"}}}</button>
            </div> 
          </div>
        </form>  
    </div>
           <br>
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12 table-hover table-striped">    
            <table width="100%" class="display table" id="users-management" class="" cellspacing="0">
                <thead>
                    <tr>
                        <th></th>
                        <th>{{{__ "Name"}}}</th>
                        <th>{{{__ "Email"}}}</th>
                        <th>{{{__ "Role"}}}</th>
                        <th>{{{__ "Status"}}}</th>
                        <th>{{{__ "Mail"}}}</th>
                        <th>{{{__ "Modify"}}}</th>
                        <th>{{{__ "Trash"}}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>  



        </li>
        <li data-content="roles" class="row">
        <div class="col-md-12 horizontaltab-form well">
            <form class="form-inline" action="/create-role" method="POST">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-6">
              <div class="form-group">
                <label class="sr-only" for="role-name">{{{__ "Rolename"}}}</label>
                    <input type="text" class="form-control" name="role_name" id="role-name" placeholder="{{{__ 'Rolename'}}}">
              </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <input type="checkbox" data-size="mini" class="form-control" checked data-width="100%" data-height="38px" data-toggle="toggle" data-on="{{{__ 'Can Read'}}}" data-off="{{{__ 'No Reading'}}}" data-offstyle="danger" data-onstyle="success" name="role_read" id="role-read"/>  
             </div>
              </div>
             <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <input type="checkbox" data-size="mini" class="form-control" data-width="100%" data-height="38px" data-toggle="toggle"  data-on="{{{__ 'Can Write'}}}" data-off="{{{__ 'No Writing'}}}" data-offstyle="danger" data-onstyle="success" name="role_write" id="role-write"/>   
              </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <input type="checkbox" data-size="mini" class="form-control" data-width="100%" data-height="38px" data-toggle="toggle"  data-on="{{{__ 'Can Edit'}}}" data-off="{{{__ 'No Editing'}}}" data-offstyle="danger" data-onstyle="success" name="role_edit" id="role-edit"/>
              </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <input type="checkbox" data-size="mini" class="form-control" data-width="100%" data-height="38px" data-toggle="toggle"  data-on="{{{__ 'Can Publish'}}}" data-off="{{{__ 'No Publishing'}}}" data-offstyle="danger" data-onstyle="success" name="role_publish" id="role-publish"/>   
              </div>
             </div>
             <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <input type="checkbox" data-size="mini" class="form-control" data-width="100%" data-height="38px" data-toggle="toggle"  data-on="{{{__ 'Can Delete'}}}" data-off="{{{__ 'No Deleting'}}}" data-offstyle="danger" data-onstyle="success" name="role_del" id="role-delete"/>   
              </div>
             </div>
              <div class="col-xs-12 col-sm-6 col-md-2 col-lg-1">
              <div class="form-group">
                    <button type="submit" class="col-md-12 btn btn-primary">{{{__ "Save Role"}}}</button>
              </div>
                </div> 
            </form> 
        </div>
        <br>
        <div class="table-responsive col-xs-12 col-sm-12 col-md-12 col-lg-12 table-hover table-striped">    
            <table width="100%" class="display table" id="roles-management" cellspacing="0">
                <thead>
                    <tr>
                        <th>{{{__ "Name"}}}</th>
                        <th>{{{__ "Read"}}}</th>
                        <th>{{{__ "Write"}}}</th>
                        <th>{{{__ "Edit"}}}</th>
                        <th>{{{__ "Delete"}}}</th>
                        <th>{{{__ "Publish"}}}</th>
                        <th>{{{__ "Modify"}}}</th>
                        <th>{{{__ "Trash"}}}</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>  
        </li>
    </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->


<!-- Modal -->
<div id="mailUserModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{{__ "Send Message"}}}</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        <p>{{{__ "Write your email below, the mail wich is send will be optimized for spam filters"}}}</p>
        </div>
        <div class="row">
            <input type="text" class="form-control" placeholder="{{{__ 'Subject'}}}">
            <br>
        </div>
        <div class="row">
            <textarea id="userMailText"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">{{{__ "Reset"}}}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">{{{__ "Send"}}}</button>
      </div>
    </div>

  </div>
</div>