<div class="container">
    <form method="post" action="/update-profile/{{user.uid}}">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <button class="btn btn-sm btn-warning" id="saveChanges">{{{__ "Save Changes"}}}</button>
            <div class="switch col-xs-2 col-sm-1 col-md-1 col-lg-1 pull-right">
            <input id="checkbox-toggle" class="checkbox-toggle checkbox-toggle-yes-no show-edit editProfile" type="checkbox">
            <label  id="togglecheckboxs" for="checkbox-toggle"></label>
          </div>
        </div>
    <div class="row">     
      <div class="col-md-4">
      <div class="row" id="profile-image" data-img="{{user.avatar}}" data-x="" data-y="" data-width="" data-height="" data-user="{{user.uid}}">
      <img src="/uploads/avatar/{{user.avatar}}"  width="100%" class="img-responsive img-thumbnail"/>
      </div>
      <div class="row" id="profile-quote">
        <blockquote>{{user.info.quote}}</blockquote>
      </div>
      </div>
      <div class="col-md-8">
        <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12"  id="profile-info">
          <h3 id="info-title" data-title="{{user.title}}" data-surname="{{user.surname}}" data-middlename="{{user.middlename}}" data-lastname="{{user.lastname}}" data-maidenname="{{user.maidenname}}">{{user.title}} {{user.surname}} {{user.middlename}} {{user.lastname}} - {{user.maidenname}}</h3>
          <div class="info-text">{{{user.info.personal_text}}}</div>
        </div>
{{!-- Full Name --}}
<div class="row" id="titlerow"></div>
<div class="row" id="namerow"></div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
  <hr></hr>
</div>
<div class="row">
  <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <div class="input-group input-group-sm" id="birthday-group" data-old="{{user.birthday}}">
          <h4><svg class="icon-cake-2"><use xlink:href="/fonts/icons.svg#icon-cake-2"></use></svg> <span id="birthday-span">{{birthday}}</span></h4> 
      </div>
    </div>
    <div class="form-group col-xs-12 col-sm-12 col-md-6 col-lg-6" id="genderrow" data-text"{{user.gender}}">
  </div>
</div>
<div class="row">
{{!-- Contact info --}}
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="input-group input-group-sm" id="phone-group" data-old="{{user.phone}}">
          <h4 style="white-space:pre;"><svg class="icon-phone-3"><use xlink:href="/fonts/icons.svg#icon-phone-3"></use></svg> <span id="phone-span">{{user.phone}}</span></h4> 
      </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="input-group input-group-sm" id="mobile-group" data-old="{{user.mobile}}">
          <h4 style="white-space:pre;" style="white-space:pre;"><svg class="icon-mobile-phone-1"><use xlink:href="/fonts/icons.svg#icon-mobile-phone-1"></use></svg> <span id="mobile-span">{{user.mobile}}</span></h4> 
      </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="input-group input-group-sm" id="email-group" data-old="{{user.email}}">
          <h4 style="white-space:pre;"><svg class="icon-mail-2"><use xlink:href="/fonts/icons.svg#icon-mail-2"></use></svg> <span id="email-span">{{user.email}}</span></h4> 
      </div>
    </div>
    <div class="form-group col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="input-group input-group-sm" id="website-group" data-old="{{user.website}}">
          <h4 style="white-space:pre;"><svg class="icon-globe-2"><use xlink:href="/fonts/icons.svg#icon-globe-2"></use></svg> <span id="website-span">{{user.website}}</span></h4> 
      </div>
    </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" id="address-hr" style="display:none;">
  <hr></hr>
</div>
<div class="row">
{{!-- Address --}}
    <div class="row col-xs-12 col-sm-12 col-md-12 col-lg-12" id='address-row'>
      <legend>Address</legend>
          <h4 id="address-group"> <span id="street-span">{{user.address.street}}</span> <span id="number-span">{{user.address.number}}</span></h4> 
          <h4 id="postalcode-group"> <span id="postalcode-span">{{user.address.postalcode}}</span></h4> 
          <h4 id="city-group"> <span id="city-span">{{user.address.city}}</span></h4> 
          <h4 id="country-group"> <span id="country-span">{{user.address.country}}</span></h4> 
    </div>
    </div>
      </div>
      </form>
</div>



      </div>
    <!-- End Profile -->